.button{
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    border: none;
    &:hover{
        opacity: 0.5;
    }
}
.button_close{
    padding: 0;
    margin-right: 20px;
    text-transform: uppercase;
    background-color: #d44637;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
    
}
.button_modal{
    color: #fff;
    background-color: #b3382c;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}
