.modal__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.7);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    
    .modal__wrap{
        width: 350px;
        z-index: 1;
        .modal__header{
            display: flex;
            justify-content: space-between;
            background-color: #d44637;
            
            .modal__header-title{
                font-size: 16px;
                padding: 20px 40px;
                color: #fff;
            }
           
        }
        .modal__main{
            .modal__main-text{
                font-size: 14px;
                padding: 20px;
                background-color: #e74c3c;
                color: #fff;
                margin: 0;
            }
        }
    }
    .modal__footer{
        background-color: #e74c3c;
    }
}
